body { background: #95e9d8; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 27px; display: flex; }
.block-product-0 { color: #f68ba8; font-size: 18px; margin-bottom: 5px; }
.block-config-1 { color: #7e4c4e; font-size: 12px; margin-bottom: 5px; }
.block-database-2 { color: #b02778; font-size: 13px; margin-bottom: 5px; }
.block-database-3 { color: #2b2146; font-size: 12px; margin-bottom: 5px; }
.block-payment-4 { color: #70fa68; font-size: 18px; margin-bottom: 5px; }